.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #62b4f7, #ba6af7);

  }

  form{
    background-color: #ffffff97;
  backdrop-filter: blur(10px);
  }
  .form h4 {
    color:var(--primary); 
  }
  
  .form-group {
    margin-bottom: 20px;
    background-color: #181818;
  }
  
  .form-label {
    color: var(--primary); 
    margin-bottom: 0%;
  }
  
  .form-control {
    border: 1px solid var(--primary); 
  
  }
  
  .form-check-label {
    color: var(--primary); 
  }
  
  .checkbox {
    margin-top: 10px;
  }
  
  .submitButton {
    background-color: var(--primary);
    color: #fff;
    padding: 10px;
    /* border-radius: 4px; */
    cursor: pointer;
  }
  

  @keyframes animate 
  {
    0%
    {
      transform: translateY(-100%);
    }
    100%
    {
      transform: translateY(100%);
    }
  }
  